<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <title>About</title>
  </head>
  <body>
    <h1>About News App</h1>
    <div class="problem">
      <p>
        Many people like to know what is going on in the world around them. In
        order to keep up, they tend to read articles from various news sites.
        But some people also complain about these sites because they are biased
        towards one end of the political spectrum or other. For example, CNN
        tends to be left biased, and Fox tends to be right biased.
      </p>
    </div>
    <div class="solution">
      <p>
        Enter News App. The one place for all of your news. The articles cover
        many topics ranging from entertainment to technology and politics. It
        has no political bias whatsoever. Best of all, articles are written by
        ordinary people like you! News App is more than just a site for news. It
        is a community of people to share information about things they love.
      </p>
    </div>
    <div class="create">
      <p>
        If have something you would like to share to others, then you can write
        your own articles and share them with the rest of the world. We can't
        wait to see the kind of message you share with everyone.
      </p>
    </div>
  </body>
</html>
