<%- include("header") -%>

<h1>How to write a new article</h1>
<p>1. Go the main page with all of the news.</p>
<p>2. Click on the "New Article" link on the top right area of the page.</p>
<p>3. Enter all the data for your article.</p>
<p>4. Go the main page with all of the news.</p>
<p>5. Viola! See your article in the main page in a matter of seconds.</p>
<%- include("footer") -%>
