body {
  font-family: "Open Sans", sans-serif;
  padding: 2% 5%;
}
.article-intro {
  display: flex;
  align-items: center;
}

h4 {
  margin-right: 3%;
}

.category {
  margin-right: 3%;
}

.home-link {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.home-link:hover {
  text-decoration: underline;
}

.article-card-links {
  color: black;
  text-decoration: none;
}

.title:hover {
  text-decoration: underline;
}
